/* Paleta de colores escogida */
:root {
  --main-color: #402D29;
  --secondary-color: #D9985F;
  --tertiary-color: #A68965;
  --text-color: #fff;
}

/* Selector universal, antes y después a todos los elementos HTML
contarles los bordes para los cálculos de ancho y alto */ 
*,
::after,
::before {
  box-sizing: border-box;
}

/* Elemento cuerpo sin márgenes, relleno, definición de fuente y color de fondo */
body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--main-color);
}

/* Elemento párrafo justificado */
p {
  text-align: justify;
}

/* Elemento imagen con un máximo de ancho */
img {
  max-width: 250px;
}

/* Clase header con un display (visualización) flexible, con espacio entre los elementos
en el eje x, alineados al centro en eje y, espaciado de 1 unidad relativa (rem es relativo 
al tamaño de fuente del elemento raiz html que es 16 px en este caso) arriba y abajo y dos
 en izquierda y derecha, con una altura de 180px para cubrir la cabeza de gato de esa altura
 más el espaciado.*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 180px;
}

/* Clase header content que tiene titulo y navbar flexible y alineada en y al centro, color
de texto con el color secundario de la paleta de colores, espacio en 1 arriba abajo 2 izquierda
derecha. */
.header-content {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  padding: 0;
}

.menu-mobile {
  display: none;
}

.menu-mobile-icon {
  display: none;
} 

/* Clase cabeza de gato, ancho y largo definidos con posición absoluta en el documento, 
esto indica que se acomoda con respecto al elemento html y con top left acomodamos su 
posición en la ventana. Tiene de fondo un gradiente de dos colores, el primer color empieza
a cambair en el 85% hasta llegar a ser el segundo color en el 100%.
Tienen un borde de un pixel continuo de un color oscuro y los bordes se redondean. */
.cat-head {
  width: 205px;
  height: 180px;
  position: absolute;
  top: 20px; 
  left: 20px;
  background: linear-gradient(#5e5e5e 85%, #45454f 100%);
  border: 1px solid #45454f;
  border-radius: 46%;
}

/* Clase oreja izquierda, posición abosulta ahora con respecto a su padre la cabeza de gato.
Posición top hacia arriba (negativo) y left hacia izquierda (negativo) para acomodarla, 
z-index para que esté por encima de otros elementos, bordes redondeados y un borde de 35px
 de ancho con un color transparente para que no se vea rotado 45 grados en sentido contrario
a los relojes y un borde de 70px de ancho con el color de la cabeza de gato. */
.cat-left-ear {
  position: absolute;
  top: -26px;
  left: -31px;
  z-index: 1;
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  transform: rotate(-45deg);
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 70px solid #5e5e5e;
}

.cat-right-ear {
  position: absolute;
  top: -26px;
  left: 163px;
  z-index: 1;
  transform: rotate(45deg);
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 70px solid #5e5e5e;
}

/* Clase oreja interna izquierda, posición absoluta con respecto a su padre la oreja izquierda
y con top y left para acomodarla, bordes redondeados y un borde de 20px de ancho con un color
transparente para que no se vea y un borde de 40px de ancho con el color de la cabeza de gato. */
.cat-left-inner-ear {
  position: absolute;
  top: 22px;
  left: -20px;
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #3b3b4f;
}

.cat-right-inner-ear {
  position: absolute;
  top: 22px;
  left: -20px;
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #3b3b4f;
}

/* Clase ojo izquierdo, posición absoluta con respecto a su padre la cabeza de gato y con top
y left para acomodarla, bordes redondeados y un ancho y alto definidos, color de fondo negro. */
.cat-left-eye {
  position: absolute;
  top: 54px;
  left: 39px;
  border-radius: 60%;
  transform: rotate(25deg);
  width: 30px;
  height: 40px;
  background-color: #000;
}

.cat-right-eye {
  position: absolute;
  top: 54px;
  left: 134px;
  border-radius: 60%;
  transform: rotate(-25deg);
  width: 30px;
  height: 40px;
  background-color: #000;
}

/* Clase ojo interno izquierdo, posición absoluta con respecto a su padre el ojo izquierdo y con top
y left para acomodarla, bordes redondeados y un ancho y alto definidos, color de fondo blanco. */
.cat-left-inner-eye {
  position: absolute;
  top: 8px;
  left: 2px;
  width: 10px;
  height: 20px;
  transform: rotate(10deg);
  background-color: #fff;
  border-radius: 60%;
}

.cat-right-inner-eye {
  position: absolute;
  top: 8px;
  left: 18px;
  transform: rotate(-5deg);
  width: 10px;
  height: 20px;
  background-color: #fff;
  border-radius: 60%;
}

/* Clase nariz, posición absoluta con respecto a la cabeza de gato, bordeada, rotada y acomodada. */
.cat-nose {
  position: absolute;
  top: 108px;
  left: 85px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: rotate(180deg);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #442c2c;
}

/* Selector de elemento div en la clase boca de gato, ancho y alto definidos, bordeada y 
redondeada para la formación de una sonrisa */
.cat-mouth div {
  width: 30px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 190%/190px 150px 0 0;
  border-color: black transparent transparent transparent;
}

/* Clase línea de boca izquierda, posición absoluta con respecto a la boca de gato, rotada y acomodada. */
.cat-mouth-line-left {
  position: absolute;
  top: 88px;
  left: 74px;
  transform: rotate(170deg);
}

.cat-mouth-line-right {
  position: absolute;
  top: 88px;
  left: 91px;
  transform: rotate(165deg);
}

/* Selector de elemento div en la clase bigote de gato izquierdo color, ancho y largo definido. */
.cat-whiskers-left div {
  width: 40px;
  height: 1px;
  background-color: #000;
}

.cat-whiskers-right div {
  width: 40px;
  height: 1px;
  background-color: #000;
}

/* Clase bigote izquierdo superior, posición absoluta con respecto a los bigotes,
 rotada y acomodada. */
.cat-whisker-left-top {
  position: absolute;
  top: 120px;
  left: 52px;
  transform: rotate(10deg);
}

.cat-whisker-left-middle {
  position: absolute;
  top: 127px;
  left: 52px;
  transform: rotate(3deg);
}

.cat-whisker-left-bottom {
  position: absolute;
  top: 134px;
  left: 52px;
  transform: rotate(-3deg);
}

.cat-whisker-right-top {
  position: absolute;
  top: 120px;
  left: 109px;
  transform: rotate(-10deg);
}

.cat-whisker-right-middle {
  position: absolute;
  top: 127px;
  left: 109px;
  transform: rotate(-3deg);
}

.cat-whisker-right-bottom {
  position: absolute;
  top: 134px;
  left: 109px;
  transform: rotate(3deg);
}

/* Clase contenido de título de cabecera, tamaño de fuente y margen izquierdo para no 
chocar con la cabeza de gato. */
.header-content-title {
  font-size: 2rem;
  margin-left: 240px;
}

/* Clase de navegación de cabecera, flexible, con espacio entre elementos, alineados al 
centro en y ocupando el 50% del header-content */
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

/* Clase de lista de navegación de cabecera, sin puntos de lista y con espacio entre 
elementos de la lista */
.header-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

/* Clase de enlace de lista de navegación de cabecera, subrayado y color secundario de la
paleta de colores */
.header-menu-list-item-link {
  text-decoration: underline;
  color: var(--secondary-color);
}

/* Clase de contenido principal, flexible, alineados en x y y al inicio, con espacio entre
elementos y relleno de 0 arriba y abajo y 2 izquierda y derecha */
.main {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  padding: 0rem 2rem;
}

/* Clase de contenido principal 80, flexible, dirección de columnas alineados en x y y al 
inicio, con espacio entre elementos y relleno de 0 arriba y abajo y 2 izquierda y derecha
 y con un ancho del 80% */
.main-content-80 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}

/* Clase de contenido principal, flexible, dirección de columna, espacio entre elementos */
.main-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Clase de contenido principal subtítulo, tamaño de fuente al doble
 y color secundario de la paleta de colores */
.main-content-subtitle {
  font-size: 2rem;
  color: var(--secondary-color);
}

/* Clase de contenido principal popularidad, flexible */
.main-content-popularity {
  display: flex;
}

/* Clase de contenido principal subcontenido de popularidad, flexible, dirección de columna */
.main-content-popularity-subcontent {
  display: flex;
  flex-direction: column;
}

.main-content-interest {
  display: flex;
}

.main-content-interest-subcontent {
  display: flex;
  flex-direction: column;
}

.main-content-importance {
  display: flex;
}

.main-content-importance-subcontent {
  display: flex;
  flex-direction: column;
}

/* Clase de contenido principal estadisticas, flexible y con espacio entre elementos */
.main-content-stats {
  display: flex;
  gap: 1rem;
}

.main-content-stats-subcontent {
  display: flex;
  flex-direction: column;
}

/* Clase de barra de navegación en contenido principal, posición fija en el navegador
a la mitad de su padre el main y muy a la derecha para cumplir con el 80%, 
trasladado arriba y a la izquierda, con un color de fondo y espaciado entre elementos  */
.main-submenu {
  position: fixed;
  top: 50%;
  left: 92%;
  transform: translate(-50%, -50%);
  background-color: var(--tertiary-color);
  padding: 1rem;
}

/* Clase de lista de navegación en contenido principal, flexible, dirección de columna,
color de texto, lista tipo romana y espacio entre elementos */
.main-submenu-list {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
  list-style: upper-roman;
  gap: 1rem;
}

/* Clase de enlace de lista de navegación en contenido principal, sin subrayado y color
principal de la paleta de colores */
.main-submenu-list-item-link {
  text-decoration: none;
  color: var(--main-color);
}

/* Clase de ie de página, flexible, alineados en x y y al centro, con color de texto y 
relleno de 0 arriba y abajo y 1 izquierda y derecha */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  padding: 0rem 1rem;
}

/* Clase de contenido principal mundo imagen, flexible, alineados en x y y al centro, con
relleno  */
.main-content-world-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
}

/* Selector de imagen en clase de contenido principal mundo imagen, con un ancho máximo y
altura automática */
.main-content-world-img img {
  max-width: 100% !important;
  height: auto;
}

/* Clase de contenido principal subtítulo subtítulo, tamaño de fuente y color secundario de
la paleta de colores */
.main-content-subtitle-subtitle {
  font-size: 1.5rem;
  color: var(--tertiary-color);
}

/* Clase de contenido principal actividades video, flexible, alineados en x y y al centro, con
relleno  */
.main-content-activities-video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
}

/* Selector de tabla en clase de contenido principal tabla, con un ancho al máximo y
colapso de bordes, combinación de bordes de la tabla */
.main-content-table table {
  width: 100%;
  border-collapse: collapse;
}

/* Selector de encabezado de tabla en clase de contenido principal tabla con color de fondo, texto
y relleno */
.main-content-table th {
  background-color: var(--tertiary-color);
  color: var(--main-color);
  padding: 0.5rem;
}

/* Selector de celda de tabla en clase de contenido principal tabla con color de fondo, texto
y relleno */
.main-content-table td {
  background-color: var(--secondary-color);
  color: var(--main-color);
  padding: 0.5rem;
}

/* Selector de encabezado y celda de tabla en clase de contenido principal tabla con borde */
.main-content-table th,
.main-content-table td {
  border: 1px solid var(--main-color);
}

/* Selector de encabezado y celda de tabla en clase de contenido principal tabla con texto alineado */
.main-content-table th,
.main-content-table td {
  text-align: center;
}

/* Clase de contenido principal enlace texto, sin decoración y de color */
.main-content-text-link {
  text-decoration: underline;
  color: var(--text-color);
}

/* Medidas del iframe video */ 
.iframe-video {
  width: 560px;
  height: 315px;
}

/* Borde del mapa */
#main-content-map {
  box-shadow: 10px 15px 15px 0 rgba(0, 0, 0, 0.4);
}

/* Diseño para tablet 800 - 1200 */
@media (min-width: 800px) and (max-width: 1200px) {

  /* Proporción de cabeza de gato 0.75 */
  :root{
    --cat-head-proportion: 0.75;
  }

  /* Hacer las imagenes más grandes */
  img {
    max-width: calc(250px / var(--cat-head-proportion));
  }
  
  /* Modificar el alto y el padding de la cabecera */
  .header {
    padding: calc(1rem * var(--cat-head-proportion)) calc(2rem * var(--cat-head-proportion));
    height: calc(180px * var(--cat-head-proportion));
  }

  /* Clase cabeza de gato con una proporción de var(--cat-head-proportion) para reducir su tamaño */
  .cat-head {
    width: calc(205px * var(--cat-head-proportion));
    height: calc(180px * var(--cat-head-proportion));
    top: calc(20px * var(--cat-head-proportion)); 
    left: calc(20px * var(--cat-head-proportion));
  }
  
  .cat-left-ear {
    top: calc(-26px * var(--cat-head-proportion));
    left: calc(-31px * var(--cat-head-proportion));
    border-top-left-radius: calc(90px * var(--cat-head-proportion));
    border-top-right-radius: calc(10px * var(--cat-head-proportion));
    border-left: calc(35px * var(--cat-head-proportion)) solid transparent;
    border-right: calc(35px * var(--cat-head-proportion)) solid transparent;
    border-bottom: calc(70px * var(--cat-head-proportion)) solid #5e5e5e;
  }
  
  .cat-right-ear {
    top: calc(-26px * var(--cat-head-proportion));
    left: calc(163px * var(--cat-head-proportion));
    border-top-left-radius: calc(90px * var(--cat-head-proportion));
    border-top-right-radius: calc(10px * var(--cat-head-proportion));
    border-left: calc(35px * var(--cat-head-proportion)) solid transparent;
    border-right: calc(35px * var(--cat-head-proportion)) solid transparent;
    border-bottom: calc(70px * var(--cat-head-proportion)) solid #5e5e5e;
  }
  
  .cat-left-inner-ear {
    top: calc(22px * var(--cat-head-proportion));
    left: calc(-20px * var(--cat-head-proportion));
    border-top-left-radius: calc(90px * var(--cat-head-proportion));
    border-top-right-radius: calc(10px * var(--cat-head-proportion));
    border-left: calc(20px * var(--cat-head-proportion)) solid transparent;
    border-right: calc(20px * var(--cat-head-proportion)) solid transparent;
    border-bottom: calc(40px * var(--cat-head-proportion)) solid #3b3b4f;
  }
  
  .cat-right-inner-ear {
    top: calc(22px * var(--cat-head-proportion));
    left: calc(-20px * var(--cat-head-proportion));
    border-top-left-radius: calc(90px * var(--cat-head-proportion));
    border-top-right-radius: calc(10px * var(--cat-head-proportion));
    border-left: calc(20px * var(--cat-head-proportion)) solid transparent;
    border-right: calc(20px * var(--cat-head-proportion)) solid transparent;
    border-bottom: calc(40px * var(--cat-head-proportion)) solid #3b3b4f;
  }
  
  .cat-left-eye {
    top: calc(54px * var(--cat-head-proportion));
    left: calc(39px * var(--cat-head-proportion));
    width: calc(30px * var(--cat-head-proportion));
    height: calc(40px * var(--cat-head-proportion));
  }
  
  .cat-right-eye {
    top: calc(54px * var(--cat-head-proportion));
    left: calc(134px * var(--cat-head-proportion));
    width: calc(30px * var(--cat-head-proportion));
    height: calc(40px * var(--cat-head-proportion));
  }
  
  .cat-left-inner-eye {
    top: calc(8px * var(--cat-head-proportion));
    left: calc(2px * var(--cat-head-proportion));
    width: calc(10px * var(--cat-head-proportion));
    height: calc(20px * var(--cat-head-proportion));
  }
  
  .cat-right-inner-eye {
    top: calc(8px * var(--cat-head-proportion));
    left: calc(18px * var(--cat-head-proportion));
    width: calc(10px * var(--cat-head-proportion));
    height: calc(20px * var(--cat-head-proportion));
  }
  
  .cat-nose {
    top: calc(108px * var(--cat-head-proportion));
    left: calc(85px * var(--cat-head-proportion));
    border-left: calc(15px * var(--cat-head-proportion)) solid transparent;
    border-right: calc(15px * var(--cat-head-proportion)) solid transparent;
    border-bottom: calc(20px * var(--cat-head-proportion)) solid #442c2c;
  }
  
  .cat-mouth div {
    width: calc(30px * var(--cat-head-proportion));
    height: calc(50px * var(--cat-head-proportion));
    border: calc(2px * var(--cat-head-proportion)) solid #000;
    border-radius: calc(190% * var(--cat-head-proportion))/calc(190px * var(--cat-head-proportion)) calc(150px * var(--cat-head-proportion)) 0 0;
  }
  
  .cat-mouth-line-left {
    top: calc(88px * var(--cat-head-proportion));
    left: calc(74px * var(--cat-head-proportion));
  }
  
  .cat-mouth-line-right {
    top: calc(88px * var(--cat-head-proportion));
    left: calc(91px * var(--cat-head-proportion));
  }
  
  .cat-whiskers-left div {
    width: calc(40px * var(--cat-head-proportion));
    height: calc(1px * var(--cat-head-proportion));
  }
  
  .cat-whiskers-right div {
    width: calc(40px * var(--cat-head-proportion));
    height: calc(1px * var(--cat-head-proportion));
  }
  
  .cat-whisker-left-top {
    top: calc(120px * var(--cat-head-proportion));
    left: calc(52px * var(--cat-head-proportion));
  }
  
  .cat-whisker-left-middle {
    top: calc(127px * var(--cat-head-proportion));
    left: calc(52px * var(--cat-head-proportion));
  }
  
  .cat-whisker-left-bottom {
    top: calc(134px * var(--cat-head-proportion));
    left: calc(52px * var(--cat-head-proportion));
  }
  
  .cat-whisker-right-top {
    top: calc(120px * var(--cat-head-proportion));
    left: calc(109px * var(--cat-head-proportion));
  }
  
  .cat-whisker-right-middle {
    top: calc(127px * var(--cat-head-proportion));
    left: calc(109px * var(--cat-head-proportion));
  }
  
  .cat-whisker-right-bottom {
    top: calc(134px * var(--cat-head-proportion));
    left: calc(109px * var(--cat-head-proportion));
  }

  /* Hacer el titulo del header más grande*/
  .header-content-title {
    font-size: 2.75rem;
    margin-left: calc(240px * var(--cat-head-proportion));
  }


  /* Mostrar el icono para el menú de navegación */
  .menu-mobile-icon {
    display: flex; 
    width: 100px;
    height: 100px;    
  }

  /* Puntero cuando se esté encima del icono */
  .menu-mobile-icon:hover {
    cursor: pointer;
  }

  /* Menú de navegación con un color de contraste, posición fija, ancho del 70%
   y altura del 100%, inicia desde la esquina superior izquierda, oculto a la izquierda 
   con margen, se desplaza hacia la izquierda con una transición de 1s y se sobrepone */
  .header-menu {
    background-color: var(--tertiary-color);
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0;
    margin-left: -80%;
    transition: all 1s;
    z-index: 2;
  } 

  /* Lista de elementos del menú con dirección de columna */
  .header-menu-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  } 

  /* Items con una caja de contraste, 80% de ancho la lista, espaciado de 1rem, 
  colores de borde para dar un efecto sombra */
  .header-menu-list-item {
    background-color: var(--main-color);
    width: 80%;
    padding: 1rem;
    border-bottom: 3px solid #000000; 
    border-right: 3px solid #000000; 
  }

  /* Traer el menú de la derecha y acomodar -2rem según el padding del header */
  .menu-mobile:checked ~ .header-menu {
    margin-left: -2rem;
  }

  /* Sección principal de bloque para tener fila de submenu y fila de contenido */
  .main {
    display: block;
  }

  /* Fila de submenu, posicion estatica, sin transformación */
  .main-submenu {
    margin-top: 2rem;
    display: block;
    width: 100%;
    position: static;
    transform: none;
  }

  /* Lista de submenu con dirección de fila y espaciado */
  .main-submenu-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  /* Contenido principal ocupando el 100% del ancho */
  .main-content-80 {
    width: 100%;
  }

  /* Imagenes de la tabla más pequeñas */ 
  .table-img {
    max-width: 240px;
  }
}

/* Diseño para móvil 800 - 1200 */
@media (max-width: 799px) {

  /* Proporción de cabeza de gato 0.5 */
  :root{
    --cat-head-proportion: 0.5;
  }

  /* Hacer las imagenes más grandes */
  img {
    max-width: 100%;
    max-height: auto;
  }
  
  /* Modificar el alto y el padding de la cabecera */
  .header {
    padding: calc(1rem * var(--cat-head-proportion)) calc(2rem * var(--cat-head-proportion));
    height: calc(180px * var(--cat-head-proportion));
  }

  /* Clase cabeza de gato con una proporción de var(--cat-head-proportion) para reducir su tamaño */
  .cat-head {
    width: calc(205px * var(--cat-head-proportion));
    height: calc(180px * var(--cat-head-proportion));
    top: calc(20px * var(--cat-head-proportion)); 
    left: calc(20px * var(--cat-head-proportion));
  }
  
  .cat-left-ear {
    top: calc(-26px * var(--cat-head-proportion));
    left: calc(-31px * var(--cat-head-proportion));
    border-top-left-radius: calc(90px * var(--cat-head-proportion));
    border-top-right-radius: calc(10px * var(--cat-head-proportion));
    border-left: calc(35px * var(--cat-head-proportion)) solid transparent;
    border-right: calc(35px * var(--cat-head-proportion)) solid transparent;
    border-bottom: calc(70px * var(--cat-head-proportion)) solid #5e5e5e;
  }
  
  .cat-right-ear {
    top: calc(-26px * var(--cat-head-proportion));
    left: calc(163px * var(--cat-head-proportion));
    border-top-left-radius: calc(90px * var(--cat-head-proportion));
    border-top-right-radius: calc(10px * var(--cat-head-proportion));
    border-left: calc(35px * var(--cat-head-proportion)) solid transparent;
    border-right: calc(35px * var(--cat-head-proportion)) solid transparent;
    border-bottom: calc(70px * var(--cat-head-proportion)) solid #5e5e5e;
  }
  
  .cat-left-inner-ear {
    top: calc(22px * var(--cat-head-proportion));
    left: calc(-20px * var(--cat-head-proportion));
    border-top-left-radius: calc(90px * var(--cat-head-proportion));
    border-top-right-radius: calc(10px * var(--cat-head-proportion));
    border-left: calc(20px * var(--cat-head-proportion)) solid transparent;
    border-right: calc(20px * var(--cat-head-proportion)) solid transparent;
    border-bottom: calc(40px * var(--cat-head-proportion)) solid #3b3b4f;
  }
  
  .cat-right-inner-ear {
    top: calc(22px * var(--cat-head-proportion));
    left: calc(-20px * var(--cat-head-proportion));
    border-top-left-radius: calc(90px * var(--cat-head-proportion));
    border-top-right-radius: calc(10px * var(--cat-head-proportion));
    border-left: calc(20px * var(--cat-head-proportion)) solid transparent;
    border-right: calc(20px * var(--cat-head-proportion)) solid transparent;
    border-bottom: calc(40px * var(--cat-head-proportion)) solid #3b3b4f;
  }
  
  .cat-left-eye {
    top: calc(54px * var(--cat-head-proportion));
    left: calc(39px * var(--cat-head-proportion));
    width: calc(30px * var(--cat-head-proportion));
    height: calc(40px * var(--cat-head-proportion));
  }
  
  .cat-right-eye {
    top: calc(54px * var(--cat-head-proportion));
    left: calc(134px * var(--cat-head-proportion));
    width: calc(30px * var(--cat-head-proportion));
    height: calc(40px * var(--cat-head-proportion));
  }
  
  .cat-left-inner-eye {
    top: calc(8px * var(--cat-head-proportion));
    left: calc(2px * var(--cat-head-proportion));
    width: calc(10px * var(--cat-head-proportion));
    height: calc(20px * var(--cat-head-proportion));
  }
  
  .cat-right-inner-eye {
    top: calc(8px * var(--cat-head-proportion));
    left: calc(18px * var(--cat-head-proportion));
    width: calc(10px * var(--cat-head-proportion));
    height: calc(20px * var(--cat-head-proportion));
  }
  
  .cat-nose {
    top: calc(108px * var(--cat-head-proportion));
    left: calc(85px * var(--cat-head-proportion));
    border-left: calc(15px * var(--cat-head-proportion)) solid transparent;
    border-right: calc(15px * var(--cat-head-proportion)) solid transparent;
    border-bottom: calc(20px * var(--cat-head-proportion)) solid #442c2c;
  }
  
  .cat-mouth div {
    width: calc(30px * var(--cat-head-proportion));
    height: calc(50px * var(--cat-head-proportion));
    border: calc(2px * var(--cat-head-proportion)) solid #000;
    border-radius: calc(190% * var(--cat-head-proportion))/calc(190px * var(--cat-head-proportion)) calc(150px * var(--cat-head-proportion)) 0 0;
  }
  
  .cat-mouth-line-left {
    top: calc(88px * var(--cat-head-proportion));
    left: calc(74px * var(--cat-head-proportion));
  }
  
  .cat-mouth-line-right {
    top: calc(88px * var(--cat-head-proportion));
    left: calc(91px * var(--cat-head-proportion));
  }
  
  .cat-whiskers-left div {
    width: calc(40px * var(--cat-head-proportion));
    height: calc(1px * var(--cat-head-proportion));
  }
  
  .cat-whiskers-right div {
    width: calc(40px * var(--cat-head-proportion));
    height: calc(1px * var(--cat-head-proportion));
  }
  
  .cat-whisker-left-top {
    top: calc(120px * var(--cat-head-proportion));
    left: calc(52px * var(--cat-head-proportion));
  }
  
  .cat-whisker-left-middle {
    top: calc(127px * var(--cat-head-proportion));
    left: calc(52px * var(--cat-head-proportion));
  }
  
  .cat-whisker-left-bottom {
    top: calc(134px * var(--cat-head-proportion));
    left: calc(52px * var(--cat-head-proportion));
  }
  
  .cat-whisker-right-top {
    top: calc(120px * var(--cat-head-proportion));
    left: calc(109px * var(--cat-head-proportion));
  }
  
  .cat-whisker-right-middle {
    top: calc(127px * var(--cat-head-proportion));
    left: calc(109px * var(--cat-head-proportion));
  }
  
  .cat-whisker-right-bottom {
    top: calc(134px * var(--cat-head-proportion));
    left: calc(109px * var(--cat-head-proportion));
  }

  /* Hacer el titulo del header más grande*/
  .header-content-title {
    font-size: 1.5rem;
    margin-left: calc(240px * var(--cat-head-proportion));
  }


  /* Mostrar el icono para el menú de navegación */
  .menu-mobile-icon {
    display: flex; 
    width: 70px;
    height: 70px;    
  }

  /* Puntero cuando se esté encima del icono */
  .menu-mobile-icon:hover {
    cursor: pointer;
  }

  /* Menú de navegación con un color de contraste, posición fija, ancho del 70%
   y altura del 100%, inicia desde la esquina superior izquierda, oculto a la izquierda 
   con margen, se desplaza hacia la izquierda con una transición de 1s y se sobrepone */
  .header-menu {
    background-color: var(--tertiary-color);
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0;
    margin-left: -80%;
    transition: all 1s;
    z-index: 2;
  } 

  /* Lista de elementos del menú con dirección de columna */
  .header-menu-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  } 

  /* Items con una caja de contraste, 80% de ancho la lista, espaciado de 1rem, 
  colores de borde para dar un efecto sombra */
  .header-menu-list-item {
    background-color: var(--main-color);
    width: 80%;
    padding: 1rem;
    border-bottom: 3px solid #000000; 
    border-right: 3px solid #000000; 
  }

  /* Traer el menú de la derecha y acomodar -2rem según el padding del header */
  .menu-mobile:checked ~ .header-menu {
    margin-left: -2rem;
  }

  /* Sección principal de bloque para tener fila de submenu y fila de contenido */
  .main {
    display: block;
  }

  /* Fila de submenu, posicion estatica, sin transformación */
  .main-submenu {
    margin-top: 2rem;
    display: block;
    width: 100%;
    position: static;
    transform: none;
  }

  /* Lista de submenu con dirección de fila y espaciado */
  .main-submenu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* Contenido principal ocupando el 100% del ancho */
  .main-content-80 {
    width: 100%;
  }

  /* Main content en bloque para tener imagen como una sola fila */
  [class^="main-content-"] {
    display: block;
  }

  /* Tabla desplazable sin agrandar el ancho de la web */
  .main-content-table {
    overflow-x: auto;
  }

  /* Imagenes de la tabla más pequeñas */ 
  .table-img {
    max-width: 150px;
  }

  /* Medidas del iframe video */
  .iframe-video {
    width: 275px;
    height: 275px;
  }
}